.hero {
  position: relative;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: var(--step-9);
  font-weight: 700;
  text-transform: uppercase;
}

.h2 {
  font-size: var(--step-5);
  text-transform: uppercase;
}
