.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.ul li {
  display: flex;
  align-items: center;
}

.span {
  font-size: var(--step-1);
}
